.topo{
    height: 30px;
    background-color: #333;
}

.topoint{
    width: 100%;
    max-width: 1040px;
    height: 30px;
    margin: auto;
}

.topoleft{
    width: 50%;
    height: 30px;
    float: left;
}

.toporight{
    width: 50%;
    height: 30px;
    float: right;
    margin-top: 2px;
}

.topoleft li{
    height: 30px;
    line-height: 30px;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
}

.ativo{
    color: blue;
}

.toporight a{
    float: right;
}

.toporight input{
    float:right
}

.toporight img{
    margin-right: 4px;
}

.topobusca{
    width: 110px;
    height: 26px;
    outline: 0;
}

.topo2{
    height: 95px;
    color: #000;
}

.topo2int{
    width: 100%;
    max-width: 1040px;
    height: 95px;
    margin: auto;
}

.logo{
    width: 230px;
    height: 80px;
    float: left;
    margin-top: 20px;
}

.topo2 .banner{
    width: 650px;
    height: 85px;
    float: right;
    margin-top: 7px;
    background: red;
    text-align: center;
    font-size: 50px;
}

.topo3{
    height: 40px;
    background-color: #FF0000;
    margin-top: 10px;
}

.topo3int{
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}

.menumobile{
    display: none;
}

.menu li:hover .submenu{
    display: block;
}

.menu li {
    height: 40px;
    line-height: 40px;
    float: left;
    padding: 0 8px;
}

.submenu{
    width: 150px;
    background-color: black;
    position: absolute;
    display: none;
}

.submenuitem{
    width: 150px;
    height: 30px;
    line-height: 30px;
    background-color: #FF0000;
    padding-left: 10px;
}

.submenuitem:hover{
    background-color: #FF5555;
}

.topo4{
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

.topo4int{
    width: 100%;
    max-width: 1040px;
    margin: auto;
    height: 50px;
}

.ultimanoticia{
    width: 100%;
    margin-top: 10px;
    height: 28px;
    border: 1px solid #CCC;
    border-radius: 0 3px 3px 0;
    
}

.titulo{
    background-color: #FF0000;
    color: #FFF;
    height: 28px;
    display: inline-block;
    line-height: 28px;
    padding: 0 10px;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 1px 1px #333;
}

.noticiaconteudo{
    color: #000;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding-left: 5px;
}


.containerint{
    width: 100%;
    max-width: 1040px;
    margin: auto;
}

.leftside{
    width: 753px;
    float: left;

}

.rightside{
    width: 275px;
    min-height: 200px;
    float: right;
    margin-left: 12px;

}

.widget{
    border: 1px solid #CCC;
    background-color: #FFF;
    margin-bottom: 10px;
}

.widgettitulo{
    height: 30px;
    line-height: 30px;
    text-transform:uppercase;
    background-color: #DDD;
    border-bottom: 1px solid #CCC;
    padding: 0 5px;
    font-size: 14px;
}

.widgetconteudo{
    text-align: center;
    padding: 5px 0;
}

.noticia{
    text-align: left;
    font-size: 13px;
    padding: 5px 5px;
    border-bottom: 0.5px solid #CCC;
}

.noticia:last-of-type{
    border: none;
}

.noticia span{
    font-weight: bold;
}

.slideshow{
    height: 335px;
    margin-bottom: 20px;
    overflow: hidden;
}

.slideshowarea{
    height: 335px;
    transition: all 0.7s;
}

.slide{
    height :335px;
    float:left;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover ;

}

.slideinfo{
    height: 70px;
    margin-top: 237px;
    margin-left: 5px;
    
}

.slideinfotitulo{
    font-weight: bold;
    color: #FFF;
    font-size: 45px;
    text-shadow: 1px 1px #000


}

.slideinfosubtitulo{
    font-weight: bold;
    color: #FFF;
    font-size: 20px;
    text-shadow: 1px 1px #000
}

.noticiaarea1{
    width: 430px;
    height: 420px;
    float: left;
}

.noticiaarea2{
    width: 320px;
    height: 420px;
    float: left;
}

.clear{
    clear:both
} 

.noticiaitem{
    text-align: left;
    height: 88px;
    margin-bottom: 14px;
}


.noticiaimg{
    width: 80px;
    height: 80px;
    border: 1px solid #CCC;
    float: left;
    padding: 3px 3px;
}

.noticiatitulo{
    width: 220px;
    margin: 0 6px;
    font-size: 16px;
    float: left;
    font-weight: bold;
    text-transform: uppercase;
}

.noticiainfo{
    font-size: 12px;
    width: 220px;
    float: left;
    margin-left: 6px;
    text-align: left;
}
.noticiabig{
    margin-left: 10px;
}

.noticiabig .noticiaimg{
    width: 384px;
    height: 222px;
}

.noticiabig .noticiatitulo{
    width: 384px;
    font-size: 30px;
}

.linknoticias{
    color: black;
}

/* Breakpoints */

@media only screen and (min-width:906px)  and (max-width: 1057px){
    .topoint,
    .topo2int,
    .topo3int,
    .containerint{
        max-width: 890px;
    }

    .leftside{
        width: 600px;
    }

    .noticiaarea1{
        width: 278px;
    }

    .noticiaarea1 
    .noticiaimg{
        width: 245px;
    }

    .noticiaarea1 .noticiaimg img{
        width: 241px;
    }

    .noticiaarea1 .noticiatitulo{
        width: 245;
        font-size: 18px;
    }

    .noticiabig .noticiatitulo{
        width: 245px;
    }
}

@media  only screen and (min-width:783px) and (max-width:906px){
    .topo2 .banner{
        display:none;
    }

    .topoint,
    .topo2int,
    .topo3int,
    .containerint{
    max-width: 758px

    }

    .logo{
        float:none;
        margin: auto;
    }

    .rightside{
        display: none;
    }

    .leftside{
        float: none;
        width: auto;
    }

    .noticiaarea1{
        width: 436px;
    }

    .noticiaarea1 
    .noticiaimg{
        width: 407px;
    }

    .noticiaarea1 .noticiaimg img{
        width: 407px;
    }

    .noticiaarea1 .noticiatitulo{
        width: 407px;
        font-size: 25px;
    }

    .noticiabig .noticiatitulo{
        width: 407px;
    }
}


@media (max-width:783px){
    .topo2 .banner{
        display:none;
    }

    .topoint,
    .topo2int,
    .topo3int,
    .containerint{
    max-width: 320px

    }

    .topoleft{
        display: none;
    }

    .toporight{
        width: 100%;
    }

    .logo{
        float:none;
        margin: auto;
    }

    .menumobile{
        display: block;
    }

    .menu ul{
        position: absolute;
        background-color: #FF0000;
        display: none;

    }

    .menu ul li{
        float: none;
        height: auto;
    }

    .menu li img{
        display: none;
    }

    .submenu{
        position: static;
        display: block;
    }

    
    .topo4{
        display: none;
    }

    .leftside{
        margin-top: 10px;
        float: none;
        width: auto;
    }


    .rightside{
        display: none;
    }


    .noticiaarea1{
        width: 320px;
        height: auto;
    }

    .noticiaarea1 
    .noticiaimg{
        width: 290px;
    }

    .noticiaarea1 .noticiaimg img{
        width: 290px;
    }

    .noticiaarea1 .noticiatitulo{
        width: 4290px;
        font-size: 25px;
    }

    .noticiabig .noticiatitulo{
        width: 290px;
    }

    .noticiaarea2{
        width: 300px;
        float: none;
        clear: both;
        margin: auto;
        padding-top: 20px;
    }

    .noticiatitulo,.noticiainfo {
        width: 200px;
    }

    .noticiaitem{
        clear: both;
    }
}